body
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	line-height: 1.25;
	display: grid;
	grid-template-columns: 16rem 1fr;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

.hidden
{
	opacity: 0;
}

.sideMenu, .mainPage
{
	overflow: auto;
	padding: 1rem;
}

.sideMenu
{
	background: #148;
	box-shadow: -1rem 0 1rem 1rem #0004;
	z-index: 1;
	color: #FFF;
}

.sideMenu h1
{
	border-bottom: 1px solid #FFF;
	font-size: 1rem;
	margin-top: 1.5rem;
}

.sideMenu #username
{
	background: transparent;
	border: none;
	font-family: inherit;
	font-size: 1rem;
	color: inherit;
	width: 100%;
	padding: 0;
}

.sideMenu #username::placeholder
{
	color: #FFFA;
}

.sideMenu .usernameLabel
{
	position: relative;
	font-size: 1rem;
}

.sideMenu .usernameLabel::after
{
	display: block;
	content: "";
	background: #FFF;
	width: 40%;
	height: 1px;
	position: absolute;
}

.sideMenu .selected
{
	background: #0002;
}

.sideMenu .menuMyFiles,
.sideMenu .connectionMenuItem
{
	position: relative;
	margin: 0 -1rem;
	padding: 0 1rem;
	transition: background-color 0.2s;
}

.sideMenu .menuMyFiles::before,
.sideMenu .connectionMenuItem::before
{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #FFF;
	height: 0;
	width: 0.1rem;
	transform: translateY(-50%);
	transition: height 0.2s;
}

.sideMenu .menuMyFiles:hover:before,
.sideMenu .connectionMenuItem:hover::before,
.sideMenu .menuMyFiles:focus-within:before,
.sideMenu .connectionMenuItem:focus-within::before,
.sideMenu .selected::before
{
	height: 100%;
}

#yourFiles
{
	padding-top: 0.75rem;
	padding-bottom: 0.5rem;
}

#yourFiles .file
{
	line-height: 1.25rem;
}

.sideMenu .menuMyFiles
{
	cursor: pointer;
	padding-top: 0.5rem;
}

.sideMenu .menuMyFiles .file img
{
	height: 1rem;
	vertical-align: middle;
	margin-right: 0.5rem;
	filter: brightness(256);
}

.sideMenu .myFilesButton
{
	display: block;
	background: none;
	border: none;
	cursor: inherit;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0;
	color: inherit;
	margin-bottom: 0.1rem;
}

.dirContents
{
	margin-left: 1rem;
}
.waiting
{
	background: #FF0;
}
.processing
{
	background: #F66;
}


/* ===== Connection menu items ===== */

.sideMenu .connectionMenuItem
{
	cursor: pointer;
	display: block;
	padding-top: 0.25rem;
}

.connectionMenuItem .connectionName
{
	display: block;
	background: none;
	border: none;
	cursor: inherit;
	font-family: inherit;
	font-size: 1.15rem;
	font-weight: bold;
	text-align: left;
	padding: 0;
	color: inherit;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.connectionMenuItem .status
{
	overflow: hidden;
	text-overflow: ellipsis;
}

.connectionMenuItem .statusProgrss
{
	height: 0.2rem;
	background: #FFF8;
	overflow: hidden;
	border-radius: 0.1rem;
	margin-top: 0.25rem;
}
.connectionMenuItem .statusProgrssBar
{
	width: 0;
	height: 100%;
	background: #F00;
}

/* ===== File container ===== */

.fileContainer .path
{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.fileContainer .path button
{
	border: none;
	background: no-repeat;
	font-size: inherit;
	font-family: inherit;
	padding: 0 0.25rem;
	cursor: pointer;
}
.fileContainer .path button:hover,
.fileContainer .path button:active
{
	text-decoration: underline;
}

.fileContainerItems
{
	display: table;
	width: 100%;
	caption-side: bottom;
}

.fileContainerItems .empty
{
	display: table-caption;
	border-top: 1px solid #EEE;
	text-align: center;
	font-size: 1.5rem;
	color: #DDD;
	line-height: 4rem;
}

.fileContainerItems .containerHeader
{
	display: table-row;
	position: sticky;
	top: -1rem;
	background: #FFF;
}
.fileContainerItems .header
{
	display: table-cell;
	font-weight: bold;
	text-align: center;
	padding: 0.25rem 0.5rem;
}
.fileContainerItems .header:nth-child(2)
{
	text-align: left;
}

.fileContainerItems .items
{
	display: contents;
}

.fileContainer .directory,
.fileContainer .file
{
	display: table-row;
	line-height: 1.5rem;
	cursor: pointer;
}

.fileContainer .fileIcon,
.fileContainer .fileName,
.fileContainer .fileType,
.fileContainer .fileSize,
.fileContainer .fileModificationDate
{
	display: table-cell;
	padding: 0 0.5rem;
	border-top: 1px solid #EEE;
	white-space: nowrap;
}

.fileContainer .containerHeader .header:nth-child(1), .fileContainer .fileIcon { width: 1.5rem; }
.fileContainer .containerHeader .header:nth-child(3), .fileContainer .fileType { width: 12rem; }
.fileContainer .containerHeader .header:nth-child(4), .fileContainer .fileSize { width: 4rem; }
.fileContainer .containerHeader .header:nth-child(5), .fileContainer .fileModificationDate { width: 8rem; }

.fileContainer .fileType,
.fileContainer .fileSize,
.fileContainer .fileModificationDate
{
	text-align: center;
}
.fileContainer .fileIcon
{
	text-align: right;
	padding-right: 0;
}
.fileContainer .fileIcon img
{
	height: 1rem;
	vertical-align: top;
	margin: 0.25rem;
}
.fileContainer .fileName button
{
	background: none;
	border: none;
	font-size: inherit;
	font-family: inherit;
	cursor: inherit;
	padding: 0;
}


/* ===== Downloads list ===== */

#downloadList
{
	position: fixed;
	bottom: 0;
	right: 2rem;
	background: #148;
	width: 20rem;
	padding: 0.5rem;
	border-radius: 0.5rem 0.5rem 0 0;
	box-shadow: 0 0 2rem #0002;
}

.downloadStatus
{
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	background: #FFF;
	border-radius: 0.5rem;
	position: relative;
}

.downloadStatus .dirName
{
	font-weight: bold;
}

.downloadStatus .file
{
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
}

.downloadStatus .fileName
{
	overflow: hidden;
	text-overflow: ellipsis;
}

.downloadStatus button.close
{
	float: right;
}

.downloadStatus .progressBar
{
	position: relative;
	height: 1rem;
	background: #DDD;
	border-radius: 1rem;
	overflow: hidden;
	margin: 0.5rem 0;
	text-align: center;
}

.downloadStatus .progressBar span
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.downloadStatus .progressBar .progressBarBg
{
	width: 0;
	height: 100%;
	background: #F00;
	position: absolute;
	top: 0;
	left: 0;
}

.downloadStatus .footer
{
	display: flex;
	justify-content: space-between;
}